.employer-Info{
    display: block;
    border-radius: 1rem;
    padding: 1rem;
    background-color: beige;
    margin-bottom: 50px;
}

.employer-Info-header{
    display: block;
    margin: auto auto;
    text-align: center;

}

.employer-Info-header img{
    display: block;
    border-radius: 50%;
    margin: auto;
}

.employer-Info h5{
    padding: 5px;
}

.employer-Info-body1 ,.employer-Info-body2{
    margin:20px 20px;
}

.employer-table tbody tr{
    transition: 0.3s;
}
.employer-table tbody tr:hover{
    color:blueviolet;
    cursor: pointer;
    scale: 1.01;
}
